<div class="readable">
    <blockquote class="note tip">
        <p>
            <strong>{{ 'Notice' | t('ssmtpmailer') }}</strong>
            {{ 'the sSMTP Mailer is just like the Sendmail default.
                Therefor, sSMTP (configured in your PHP setup) is using a little different command to send your email.' | t('ssmtpmailer') }}
        </p>
    </blockquote>
</div>